<a href="https://colab.research.google.com/github/Am-CheaChamroeun/Machine-Learning/blob/main/Earthquake_Multiple_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/amankharwal/Website-data/master/database.csv")
data.columns

Index(['Date', 'Time', 'Latitude', 'Longitude', 'Type', 'Depth', 'Depth Error',
       'Depth Seismic Stations', 'Magnitude', 'Magnitude Type',
       'Magnitude Error', 'Magnitude Seismic Stations', 'Azimuthal Gap',
       'Horizontal Distance', 'Horizontal Error', 'Root Mean Square', 'ID',
       'Source', 'Location Source', 'Magnitude Source', 'Status'],
      dtype='object')

In [3]:
data = data[['Date', 'Time', 'Latitude', 'Longitude', 'Depth', 'Magnitude']]
data.head()

         Date      Time  Latitude  Longitude  Depth  Magnitude
0  01/02/1965  13:44:18    19.246    145.616  131.6        6.0
1  01/04/1965  11:29:49     1.863    127.352   80.0        5.8
2  01/05/1965  18:05:58   -20.579   -173.972   20.0        6.2
3  01/08/1965  18:49:43   -59.076    -23.557   15.0        5.8
4  01/09/1965  13:32:50    11.938    126.427   15.0        5.8

In [4]:
import datetime
import time

timestamp = []
for d, t in zip(data['Date'], data['Time']):
    try:
        ts = datetime.datetime.strptime(d+' '+t, '%m/%d/%Y %H:%M:%S')
        timestamp.append(time.mktime(ts.timetuple()))
    except ValueError:
        timestamp.append('ValueError')
timeStamp = pd.Series(timestamp)
data['Timestamp'] = timeStamp.values  # Add Timestamp to the dataframe 
final_data = data.drop(['Date', 'Time'], axis=1)  # Delete Column Date 
final_data = final_data[final_data.Timestamp != 'ValueError']
final_data.head()

   Latitude  Longitude  Depth  Magnitude    Timestamp
0    19.246    145.616  131.6        6.0 -157630542.0
1     1.863    127.352   80.0        5.8 -157465811.0
2   -20.579   -173.972   20.0        6.2 -157355642.0
3   -59.076    -23.557   15.0        5.8 -157093817.0
4    11.938    126.427   15.0        5.8 -157026430.0

In [5]:
final_data.isnull().sum()

Latitude     0
Longitude    0
Depth        0
Magnitude    0
Timestamp    0
dtype: int64

In [6]:
x_variable = ['Timestamp', 'Latitude', 'Longitude']
y_variable = ['Magnitude']

#reshape variable
x = final_data[x_variable].values.reshape(-1,3)
y = final_data[y_variable].values.reshape(-1,1)

print(x.shape)
print(y.shape)

(23409, 3)
(23409, 1)

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)
print(X_train.shape)
print(X_test.shape)

(18727, 3)
(4682, 3)

In [8]:
#build a model(multiplication)
from sklearn.linear_model import LinearRegression
multiple_reg = LinearRegression()

In [9]:
#training
model = multiple_reg.fit(X_train, y_train)

In [10]:
y_predict = model.predict(X_test)
print(y_predict)

[[5.88822471]
 [5.87839455]
 [5.85189074]
 ...
 [5.88378364]
 [5.87298544]
 [5.88490482]]

In [11]:
from sklearn.metrics import r2_score

r2 = r2_score(y_test,y_predict)
print(f'This is R2 score value: {r2}')

This is R2 score value: 0.003439433620758825